.block-gallery--carousel
    .splide
        figure
            picture
                img
                    max-height: 40vh

.page__home 
    #block-1 
        .chapter
            flex-direction: column-reverse
            @include media-breakpoint-up(desktop)
                flex-direction: row-reverse
                justify-content: space-between
                figure
                    margin-left: 0    

.hero 
    .content 
        figure 
            img
                max-width: 80vw
                margin: auto
                 
    &.hero--with-image 
        .content 
            align-items: end
