.block-gallery--carousel
    .splide
        figure
            picture
                img
                    max-height: 40vh

.page__home, .pages__section
    #block-1 
        .chapter
            flex-direction: column-reverse
            @include media-breakpoint-up(desktop)
                flex-direction: row-reverse
                justify-content: space-between
                figure
                    margin-left: 0    

.hero 
    .content 
        figure 
            img
                max-width: 80vw
                margin: auto
                 
    &.hero--with-image 
        .content
            figure
                align-self: end

.menu 
    .nav-level-1
        > li
            a, span
                font-size: 1.125rem
    .nav-level-2 
        > li 
            > a
                font-size: 1rem

.page__home 
    main 
        .blocks 
            .block-pages--cards 
                .cards
                    grid-template-columns: repeat(2, 1fr);

.block-posts--highlight .list article, .post-content
    transition: 0.5s
    padding: 1rem

.block-posts--highlight .list article:hover, .post-content:hover
    background: $color-highlight   
    